<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="Content/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap/bootstrap-theme.css" />
    <script src="Content/angular/angular.js"></script>
    <script src="Content/angular-resource/angular-resource.js"></script>

    <script>
        var booksApp = angular.module("booksApp", ["ngResource"]);

        booksApp.factory("Book", ["$resource", function ($resource) {
            return $resource("/api/book/:id");
        }]);

        booksApp.controller("bookListController", ["$scope", "Book", function ($scope, Book) {

            $scope.title;
            $scope.author;
            $scope.books = Book.query();

            $scope.addBook = function () {
                var newBook = new Book();

                newBook.title = $scope.title;
                newBook.author = $scope.author;

                newBook.$save(function (data) {
                    $scope.books.push(data);
                });
            };
        }]);
    </script>

</head>

<body ng-app="booksApp">
    <div class="container" ng-controller="bookListController">

        <h2 class="h2">Hello books</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="b in books">
                    <td>{{b.title}}</td>
                    <td>{{b.author}}</td>
                </tr>
            </tbody>
        </table>

        <form>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="title" placeholder="Enter a title"/>
            </div>

            <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" ng-model="author" placeholder="Enter an author"/>
            </div>
            <button class="btn btn-default" ng-click="addBook()">Add Book</button>
        </form>

    </div>
</body>
</html>
